/* Portfolio Page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&display=swap');

* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: #dae1e7;
}

body {
    display: flex;
    flex-direction: column;
    min-height:calc(100vh - 16px);
}

header {
    padding: 1rem;
}

.navbar {
    width: 100%;
    color: #fff;
    background-color: #5EBEC4;
    height: 55px;
}

.navbar .container {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-family: 'Berkshire Swash';
    font-size: x-large;
    color: #F92C85
}

span {
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
    text-transform: capitalize;
    font-weight: bold;
}

nav ul li a:hover {
    transition: 0.4s ease;
    color: #F92C85;
}

main {
    padding: 1rem;
    flex-grow: 1;
    background: #dae1e7;

}

main.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    transform: translateY(0%);
}

main.content h1 {
    color: #00909e;
    margin: 20px 0px 20px;
    font-size: 75px;
    text-align: left;
    margin-left: 15%;
}

main.content h1 span {
    color: #F92C85;
    margin: 20px 0px 20px;
    font-size: 75px;
}

main.content h3 {
    color: #00909e;
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 15%;
    text-align: left;
}

main.content h4 {
    color: #79a3b1;
    letter-spacing: 2px;
    font-size: 20 px;
    margin-top: 15%;
    margin-left: 15%;
    text-align: left;
}

.projects {
    background: #dae1e7;
    width: 100%;
    padding: 10px 0px;
}

.title h2 {
    color: #00909e;
    font-size: 70px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.box {
    padding: 3em;
    position: relative;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.card {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .1);
}

.card i {
    font-size: 50px;
    display: block;
    color: #F92C85;
    text-align: center;
    margin: 25px 0px;
}

.card h5 {
    color: #00909e;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}

.card p {
    margin-top: 0;
    color: #00909e;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button a {
    background-color: #5EBEC4;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    transition: .2s ease;
    text-align: center;
}

.card .button a:hover {
    background-color: #00909e;
    color: #F92C85;
    transition: 0.4s ease;
    cursor: pointer;
}

footer {
    background-color: #5EBEC4;
    padding: 1rem;
    width: 100%;
}

footer nav.social {
    display: flex;
    justify-content: center;
}

footer nav.social a {
    text-decoration: none;
    color: #fff;
}

footer nav.social a:hover {
    transition: 0.4s ease;
    color: #F92C85;
}
